body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.nav-color{
  background-color: #a3d1c6a3;
}
/*start navBar */
.logo{
  width: 80px;
 
}
/* end navBar */
/* start home page */
.home-page{
background-color: #EFE9D5;
color: #212121;
}
.blue{
  color: #000B58;
}
/* end home page */
/* start templet one page */
.form-color{
background-color: #2c3930cf;
color: #fff;
}
.form-p{
  font-size: 12px;
}